body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;
}

button[disabled] {
  cursor: initial;
  opacity: 0.5;
}

.header {
  background-color: green;
  color: white;
}

.nav {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav button {
  transition: 0.3s;
  position: relative;
}

.nav button img {
  width: 30px;
}

.nav button:hover {
  opacity: 0.7;
}

.main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
}

.product {
  font-weight: 300;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 lightgrey;
  padding: 10px;
  margin: 10px;
  transition: 0.3s;
}

.product-image {
  height: 240px;
  text-align: center;
  margin-bottom: 20px;
}

.product-image img {
  height: 100%;
}

.product-price {
  font-size: 25px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  background-color: inherit;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}

.addition-button {
  color: green;
  border: 1px solid green;
}

.addition-button:hover {
  background-color: green;
  color: white;
}

.addition-button[disabled]:hover {
  background-color: white;
  color: green;
}

.deletion-button {
  color: darkred;
  border: 1px solid darkred;
}

.deletion-button:hover {
  background-color: darkred;
  color: white;
}

.empty-basket {
  color: darkred;
  margin: 40vh auto auto auto;
}

.home-button {
  font-size: 2em;
  color: white;
}

.basket-counter {
  background-color: blue;
  font-weight: 100;
  color: white;
  height: 16px;
  width: 16px;
  font-size: 10px;
  border-radius: 8px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 0;
  left: 0;
}
